/* RESET IMG */

img{
    max-width:100%;
}

/* GENERAL */

a{
    text-decoration: none;
    color:inherit;
}

li{
    list-style-type: none;
}


/* HEADER */

.nav-menu{
    background-color: rgb(44, 62, 80);
    height:70px;
}

.ms_container{
    width: 80%;
    margin: 0 auto;
  }

.ms_container_little{
    width:60%;
    margin: 0 auto;
}

  .list-nav{
    justify-content: flex-end;
    margin-bottom: 0;
    gap: 0.5rem;
  
 }
   
.jumbotron{
    background-color: rgb(26, 188, 156);
}

div hr{
    border-top: 3px solid;
    opacity:unset;
    border-radius: 10px;
}

hr{
    margin:1rem 0;
    color:inherit;
    border:0;
    height: 1px;
    width:80px;
}
.sx{
    display:flex;
    justify-content: flex-end;;
}


.avatar{
    width: 200px;
}


/* MAIN */

.portfolio{
    background-color:white
}

/* about section */
 
.about{
    background-color: rgb(26, 188, 156);
}

.ms_btn-primary{
    background-color: rgb(26, 188, 156);
    border:1px solid white;
    color:white;
    padding:0.5rem 1rem;   
    border-radius: 10px;
}

/* contact me section */

.ms_btn-send{
    background-color: rgb(26, 188, 156);
    color:white;
    border-style: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.form-control{
    border-radius:0;
    border-top: 0;
    border-left:0;
    border-right:0;
}
.form-control:focus{
    display: none;
}

/* FOOTER */
.upper{
    background-color: rgb(58, 84, 109) ;
}

.rounded-border{
    border:1px solid white;
    border-radius:25px;
    padding: 0.5rem;

}

.start-boot{
    color: rgb(26, 188, 156);
}

.bottom{
background-color: rgb(44, 62, 80);
  height:80px;
}

.copyright{
   line-height: 80px;
}